In [ ]:
# Program 1.1
import pandas as pd
df = pd.read_csv(r'/content/drive/MyDrive/Data Science Practical/proteinSequenceFile1.csv')
df

                      Sequence Class
0    KGTFEKATSEAYAYADTLKKDNGEY     +
1              VHHPKLVFFAEDVGS     +
2                  GYANNFLFKQG     +
3                       STVQIE     -
4                       NGERIE     -
..                         ...   ...
394            VHHQKLVPFAEDVGS     -
395           YKQQSIQLIEAGVTKR     -
396                 RCQNRDVRQY     -
397              PGGG5VQIVYKPV     +
398                     PTVIIE     -

[399 rows x 2 columns]

In [ ]:
df.isna().sum()

Sequence    0
Class       4
dtype: int64

In [ ]:
df.Class.value_counts()

-    257
+    138
Name: Class, dtype: int64

In [ ]:
df["Class"] = df["Class"].map({"+": 1, "-": 0})
df['Class'] = df.Class.astype(pd.Int64Dtype())
df

                      Sequence  Class
0    KGTFEKATSEAYAYADTLKKDNGEY      1
1              VHHPKLVFFAEDVGS      1
2                  GYANNFLFKQG      1
3                       STVQIE      0
4                       NGERIE      0
..                         ...    ...
394            VHHQKLVPFAEDVGS      0
395           YKQQSIQLIEAGVTKR      0
396                 RCQNRDVRQY      0
397              PGGG5VQIVYKPV      1
398                     PTVIIE      0

[399 rows x 2 columns]

In [ ]:
df2 = df.iloc[:, 0:1]
df2

                      Sequence
0    KGTFEKATSEAYAYADTLKKDNGEY
1              VHHPKLVFFAEDVGS
2                  GYANNFLFKQG
3                       STVQIE
4                       NGERIE
..                         ...
394            VHHQKLVPFAEDVGS
395           YKQQSIQLIEAGVTKR
396                 RCQNRDVRQY
397              PGGG5VQIVYKPV
398                     PTVIIE

[399 rows x 1 columns]

In [ ]:
for i in range (len(df2)):
  df2['F1'] = df2.Sequence.apply(lambda x: x.count('N'))
  df2['F2'] = df2.Sequence.apply(lambda x: x.count('H'))
  df2['F3'] = df2.Sequence.apply(lambda x: x.count('Q'))
  df2['F4'] = df2.Sequence.apply(lambda x: x.count('G'))
  df2['F5'] = df2.Sequence.apply(lambda x: x.count('D'))
  df2['F6'] = df2.Sequence.apply(lambda x: x.count('T'))
df2

                      Sequence  F1  F2  F3  F4  F5  F6
0    KGTFEKATSEAYAYADTLKKDNGEY   1   0   0   2   2   3
1              VHHPKLVFFAEDVGS   0   2   0   1   1   0
2                  GYANNFLFKQG   2   0   1   2   0   0
3                       STVQIE   0   0   1   0   0   1
4                       NGERIE   1   0   0   1   0   0
..                         ...  ..  ..  ..  ..  ..  ..
394            VHHQKLVPFAEDVGS   0   2   1   1   1   0
395           YKQQSIQLIEAGVTKR   0   0   3   1   0   1
396                 RCQNRDVRQY   1   0   2   0   1   0
397              PGGG5VQIVYKPV   0   0   1   3   0   0
398                     PTVIIE   0   0   0   0   0   1

[399 rows x 7 columns]

In [ ]:
df2['Sequence'] = df2.index+1
df2

     Sequence  F1  F2  F3  F4  F5  F6
0           1   1   0   0   2   2   3
1           2   0   2   0   1   1   0
2           3   2   0   1   2   0   0
3           4   0   0   1   0   0   1
4           5   1   0   0   1   0   0
..        ...  ..  ..  ..  ..  ..  ..
394       395   0   2   1   1   1   0
395       396   0   0   3   1   0   1
396       397   1   0   2   0   1   0
397       398   0   0   1   3   0   0
398       399   0   0   0   0   0   1

[399 rows x 7 columns]

In [ ]:
df2['Class'] = df.iloc[:, 1:2]
df2

     Sequence  F1  F2  F3  F4  F5  F6 Class
0           1   1   0   0   2   2   3     1
1           2   0   2   0   1   1   0     1
2           3   2   0   1   2   0   0     1
3           4   0   0   1   0   0   1     0
4           5   1   0   0   1   0   0     0
..        ...  ..  ..  ..  ..  ..  ..   ...
394       395   0   2   1   1   1   0     0
395       396   0   0   3   1   0   1     0
396       397   1   0   2   0   1   0     0
397       398   0   0   1   3   0   0     1
398       399   0   0   0   0   0   1     0

[399 rows x 8 columns]

In [ ]:
df2.isna().sum()

Sequence    0
F1          0
F2          0
F3          0
F4          0
F5          0
F6          0
Class       4
dtype: int64

In [ ]:
df2.to_csv("/content/drive/MyDrive/Data Science Practical/result-101903567.csv", index = False)

In [ ]:
# Program 1.2
import pandas as pd
df12 = pd.read_csv(r'/content/drive/MyDrive/Data Science Practical/proteinSequenceFile2.csv')
df12

                  Sequence Class
0               SDIEVDLLKN     -
1                 MVGKVTVN     -
2               YLLYYTEFTP     +
3     TESKEKITQYIYHVLNGEIL     +
4    QTAPVPMPDLKNVKSKIGSTE   NaN
..                     ...   ...
419             MDEYSNQNNF     -
420                 STVIIQ     +
421                 STVIIM     +
422             TTTKGENFTE     -
423                 PTEKDE     -

[424 rows x 2 columns]

In [ ]:
df12.isna().sum()

Sequence    0
Class       4
dtype: int64

In [ ]:
def has_numbers(inputString):
  return any(char.isdigit() for char in inputString)

In [ ]:
FileName = []
Sequence = []
Class = []
for i in range(len(df12)):
  if (has_numbers(df12.loc[i, 'Sequence']) == True):
    FileName.append('file1.csv')
    Sequence.append(df12.loc[i, 'Sequence'])
    Class.append(df12.loc[i, 'Class'])
  elif (pd.isnull(df12.loc[i, 'Class']) == True):
    FileName.append('file2.csv')
    Sequence.append(df12.loc[i, 'Sequence'])
    Class.append(df12.loc[i, 'Class'])
  elif (pd.isnull(df12.loc[i, 'Sequence']) == True):
    FileName.append('file3.txt')
    Sequence.append(df12.loc[i, 'Sequence'])
    Class.append(df12.loc[i, 'Class'])
  elif ((has_numbers(df12.loc[i, 'Sequence']) == True) and (pd.isnull(df12.loc[i, 'Class']) == True)):
    FileName.append('file4.txt')
    Sequence.append(df12.loc[i, 'Sequence'])
    Class.append(df12.loc[i, 'Class'])

In [ ]:
print(FileName)
print(Sequence)
print(Class)

['file2.csv', 'file1.csv', 'file1.csv', 'file1.csv', 'file1.csv', 'file2.csv', 'file2.csv', 'file1.csv', 'file2.csv']
['QTAPVPMPDLKNVKSKIGSTE', 'PGGGKN8EVYKPV', 'PGGG5VQIVYKPV', 'QTAPVPMPDLKNVKSKIGS67ENLKHQPGGGKVQIVY', 'PG33GKVQIVEKPV', 'NLKHQPGGGKVQIVYKPVDLSKVTSKCGSLGNIHHKPGGGQVE', 'KDRVQSKIGSLDNITHVPGGGN', 'PGGGKV3KPV', 'KPVDLSKVTSKCGSLGNIHHKPGGGQVEVKSEKLDF']
[nan, '-', '+', '-', '-', nan, nan, '-', nan]

In [ ]:
df12_res = pd.DataFrame(FileName, columns =['FileName'])
df12_res['Sequence'] = Sequence
df12_res['Class'] = Class
df12_res

    FileName                                     Sequence Class
0  file2.csv                        QTAPVPMPDLKNVKSKIGSTE   NaN
1  file1.csv                                PGGGKN8EVYKPV     -
2  file1.csv                                PGGG5VQIVYKPV     +
3  file1.csv        QTAPVPMPDLKNVKSKIGS67ENLKHQPGGGKVQIVY     -
4  file1.csv                               PG33GKVQIVEKPV     -
5  file2.csv  NLKHQPGGGKVQIVYKPVDLSKVTSKCGSLGNIHHKPGGGQVE   NaN
6  file2.csv                       KDRVQSKIGSLDNITHVPGGGN   NaN
7  file1.csv                                   PGGGKV3KPV     -
8  file2.csv         KPVDLSKVTSKCGSLGNIHHKPGGGQVEVKSEKLDF   NaN

In [ ]:
df12_res.fillna('', inplace=True)
df12_res

    FileName                                     Sequence Class
0  file2.csv                        QTAPVPMPDLKNVKSKIGSTE
1  file1.csv                                PGGGKN8EVYKPV     -
2  file1.csv                                PGGG5VQIVYKPV     +
3  file1.csv        QTAPVPMPDLKNVKSKIGS67ENLKHQPGGGKVQIVY     -
4  file1.csv                               PG33GKVQIVEKPV     -
5  file2.csv  NLKHQPGGGKVQIVYKPVDLSKVTSKCGSLGNIHHKPGGGQVE
6  file2.csv                       KDRVQSKIGSLDNITHVPGGGN
7  file1.csv                                   PGGGKV3KPV     -
8  file2.csv         KPVDLSKVTSKCGSLGNIHHKPGGGQVEVKSEKLDF

In [ ]:
df12_res.to_csv("/content/drive/MyDrive/Data Science Practical/log-101903567.csv", index = False)

In [ ]:
# Program 1.3
import time
output_file_name = "result-" + str(time.time()) + ".csv"
output_file_name

'result-1638192153.6497555.csv'

In [ ]:
df2.to_csv("/content/drive/MyDrive/Data Science Practical/"+output_file_name, index = False)

In [ ]:
log_file_name = "log-" + str(time.time()) + ".csv"
df12_res.to_csv("/content/drive/MyDrive/Data Science Practical/"+log_file_name, index = False)

In [ ]:
# Program 2
import pandas as pd
df = pd.read_csv(r'/content/drive/MyDrive/Data Science Practical/topsis.csv')
df

  Model  Corr  Rseq  RMSE  Accuracy
0    M1  0.79  0.62  1.25     60.89
1    M2  0.66  0.44  2.89     63.07
2    M3  0.56  0.31  1.57     62.87
3    M4  0.82  0.67  2.68     70.19
4    M5  0.75  0.56  1.30     80.39

In [ ]:
x = df.iloc[:, 1:5]
x

   Corr  Rseq  RMSE  Accuracy
0  0.79  0.62  1.25     60.89
1  0.66  0.44  2.89     63.07
2  0.56  0.31  1.57     62.87
3  0.82  0.67  2.68     70.19
4  0.75  0.56  1.30     80.39

In [ ]:
rosos = [] # Root of sum of squares
for i in range(0, x.shape[1]):
  sum = 0
  for j in range(0, x.shape[0]):
    sum += pow(x.loc[j].iat[i], 2)
  fin = pow(sum, 0.5)
  rosos.append(fin)
rosos

[1.6149922600433726, 1.1985824961178102, 4.609978307974996, 151.7472968457758]

In [ ]:
for i in range(0, x.shape[1]):
  for j in range(0, x.shape[0]):
    x.loc[j].iat[i] = (x.loc[j].iat[i])/rosos[i]
x

       Corr      Rseq      RMSE  Accuracy
0  0.489166  0.517278  0.271151  0.401259
1  0.408671  0.367100  0.626901  0.415625
2  0.346751  0.258639  0.340566  0.414307
3  0.507742  0.558994  0.581348  0.462545
4  0.464399  0.467219  0.281997  0.529762

In [ ]:
weights = [1, 1, 2, 2]
for i in range(0, x.shape[1]):
  for j in range(0, x.shape[0]):
    x.loc[j].iat[i] = (x.loc[j].iat[i])*weights[i]
x

       Corr      Rseq      RMSE  Accuracy
0  0.489166  0.517278  0.542302  0.802518
1  0.408671  0.367100  1.253802  0.831250
2  0.346751  0.258639  0.681131  0.828614
3  0.507742  0.558994  1.162695  0.925091
4  0.464399  0.467219  0.563994  1.059525

In [ ]:
# + -> Max is best
# - -> Min is best
impacts = ['+', '+', '-', '+']
vj_plus = [] # Ideal best
vj_minus = [] # Ideal worst
for i in range(0, x.shape[1]):
  if (impacts[i] == '+'):
    vj_plus.append(x.iloc[:, i].max())
    vj_minus.append(x.iloc[:, i].min())
  else:
    vj_plus.append(x.iloc[:, i].min())
    vj_minus.append(x.iloc[:, i].max())
print(vj_plus)
print(vj_minus)

[0.5077423714575436, 0.5589936463865603, 0.5423019010035567, 1.0595246395947622]
[0.34675088782466396, 0.25863885131318465, 1.2538019951202233, 0.8025184140431033]

In [ ]:
si_plus = []
for i in range(0, x.shape[0]):
  sum = 0
  for j in range(0, x.shape[1]):
    sum += pow(((x.loc[i].iat[j])-(vj_plus[j])), 2)
  fin = pow(sum, 0.5)
  si_plus.append(fin)
si_plus

[0.26103157950441636,
 0.7778044539998,
 0.43442416609709045,
 0.6347916561282085,
 0.10378776937687442]

In [ ]:
si_minus = []
for i in range(0, x.shape[0]):
  sum = 0
  for j in range(0, x.shape[1]):
    sum += pow(((x.loc[i].iat[j])-(vj_minus[j])), 2)
  fin = pow(sum, 0.5)
  si_minus.append(fin)
si_minus

[0.7703302060061533,
 0.12815410770728514,
 0.5732650833660965,
 0.3734375974952771,
 0.7741019080110729]

In [ ]:
si = []
for i in range(len(si_plus)):
  si.append(si_plus[i]+si_minus[i])
si

[1.0313617855105697,
 0.9059585617070851,
 1.007689249463187,
 1.0082292536234856,
 0.8778896773879473]

In [ ]:
pi = []
for i in range(len(si_plus)):
  pi.append(si_minus[i]/si[i])
pi

[0.7469059032711841,
 0.14145691991232595,
 0.5688907405447506,
 0.37038956780233845,
 0.8817758403474089]

In [ ]:
df["Topsis Score"] = pi
df

  Model  Corr  Rseq  RMSE  Accuracy  Topsis Score
0    M1  0.79  0.62  1.25     60.89      0.746906
1    M2  0.66  0.44  2.89     63.07      0.141457
2    M3  0.56  0.31  1.57     62.87      0.568891
3    M4  0.82  0.67  2.68     70.19      0.370390
4    M5  0.75  0.56  1.30     80.39      0.881776

In [ ]:
df["Rank"] = df["Topsis Score"].rank(ascending=False)
df

  Model  Corr  Rseq  RMSE  Accuracy  Topsis Score  Rank
0    M1  0.79  0.62  1.25     60.89      0.746906   2.0
1    M2  0.66  0.44  2.89     63.07      0.141457   5.0
2    M3  0.56  0.31  1.57     62.87      0.568891   3.0
3    M4  0.82  0.67  2.68     70.19      0.370390   4.0
4    M5  0.75  0.56  1.30     80.39      0.881776   1.0

In [ ]:
df.to_csv('/content/drive/MyDrive/Data Science Practical/topsis_result.csv')